NODE_ENV=development
PORT=3001

# Gateway upstreams
STUDENTS_SERVICE_URL=http://127.0.0.1:3002
TEACHERS_SERVICE_URL=http://127.0.0.1:3003
COURSES_SERVICE_URL=http://127.0.0.1:3004
ENROLLMENTS_SERVICE_URL=http://127.0.0.1:3005
NOTIFICATIONS_SERVICE_URL=http://127.0.0.1:3006
